body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.box {
  text-align: center;
}

.box>* {
  margin-top: 10px;
}

.pane {
  margin: 0 auto;
  width: 70%;
  box-shadow: 0px 0px 10px 2px gray;
  padding: 40px;
}

/* every child of pane except the first one */
.pane>*+* {
  margin-top: 20px;
}

.blogs-button {
  width: 75px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
}

.topic {
  border: 1px solid;
  height: fit-content;
  text-align: left;
  cursor: pointer;
  padding: 10px;
}
