{% extends "base.html" %}

{% block content %}
<h1>Ratanon Khamrong <small style="font-size:0.5em;color:#888">naxocist</small></h1>

<p>CEDT03 @ Chulalongkorn University.<br>
  Satit CMU alumnus. I peaked in high school, allegedly.</p>

<p>
  <a href="https://github.com/naxocist" target="_blank">Github</a> ·
  <a href="https://www.linkedin.com/in/naxocist/" target="_blank">LinkedIn</a> ·
  <a href="https://codeforces.com/profile/naxocist" target="_blank">Codeforces</a> ·
  <a href="https://myanimelist.net/profile/Naxocist" target="_blank">MyAnimeList</a>
</p>


<p>
  Software engineering student who spends an unreasonable amount of time learning 
  <a href="https://en.wikipedia.org/wiki/Computer_architecture" target="_blank"><u>how computer works</u></a> to control or optimize it however we want,
  only to discover three more things I don't understand.
  The field is simultaneously the most fascinating and most humbling thing I have ever touched and I cannot stop, especially how software evolves around that basic computing standards.
</p>

<p>Currently somewhere between "I get the concept" and "why does this exist" on most topics. Progressing. Slowly. With anime on in the background.</p>

<hr>

<a href="https://k-on.fandom.com/wiki/Yui_Hirasawa" target="_blank">
  <img src="/assets/yui-guitar.gif" alt="Yui Hirasawa" style="width:200px">
</a>
<p>Yui Hirasawa, 平沢唯</p>


{% endblock %}
