{% extends "base.html" %}

{% block content %}
<h1>Ratanon Khamrong <small style="font-size:0.5em;color:#999;font-weight:normal">naxocist</small></h1>

<p>CEDT03 @ Chulalongkorn University<br>Satit CMU alumnus</p>

<p>
  <a href="https://github.com/naxocist" target="_blank">Github</a> ·
  <a href="https://www.linkedin.com/in/naxocist/" target="_blank">LinkedIn</a> ·
  <a href="https://codeforces.com/profile/naxocist" target="_blank">Codeforces</a> ·
  <a href="https://myanimelist.net/profile/Naxocist" target="_blank">MyAnimeList</a>
</p>


<a href="https://k-on.fandom.com/wiki/Yui_Hirasawa" target="_blank">
  <img src="/assets/yui-guitar.gif" alt="Yui Hirasawa" style="width:200px">
</a>
<p>Yui Hirasawa, 平沢唯</p>


{% endblock %}
